
MileTracker.xcodeproj/project.xcworkspace/contents.xcworkspacedata

MileTracker.xcodeproj/project.xcworkspace/xcuserdata/superrunt.xcuserdatad/UserInterfaceState.xcuserstate

MileTracker.xcodeproj/project.xcworkspace/xcuserdata/superrunt.xcuserdatad/WorkspaceSettings.xcsettings

MileTracker.xcodeproj/xcuserdata/superrunt.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

MileTracker.xcodeproj/xcuserdata/superrunt.xcuserdatad/xcschemes/MileTracker.xcscheme

MileTracker.xcodeproj/xcuserdata/superrunt.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcbkptlist

*.xccheckout
